<li>
  <!-- Events -->
  <div class="event-container">
      <!-- Date -->
      <div class="date">
              <span>
                  <!-- Day -->
                  <div class="day"><%= date %></div>
                  <!-- Month Short Form (first three letters) -->
                  <div class="month"><%= month %></div>
              </span>
      </div>
      <!-- Event-Description -->
      <div class="event-text"><%= Description %></div>
  </div>
</li>


